:root {
    --primary-color: #5A189A;
    --secondary-color: #D4A8FF;
    --accent-color: #444422;
    --complementary-color: #3F2559;
    --text-color: #333333;
    --light-text-color: #fff;
    --background-color: #F9F9F9;
    --font-family: 'Arial', sans-serif;
    --error-color: #FF0000;
    --success-color: #00FF00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    padding: 1rem 0;
    border-bottom: 2px solid var(--complementary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.main-nav ul {
    list-style: none;
    display: flex;
}
.main-nav ul li {
    margin-left: 20px;
}
.main-nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease;
}
.main-nav ul li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.hero {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    padding: 12px 24px;
    border-radius: 35px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background-color: transparent;
    color: var(--light-text-color);
    border: 2px solid #FFF;
}